.post-it{
    color: black;
    width: 5vw;
    min-width: 100px;
    height: 5vw;
    min-height: 100px;

    font-size: 1em;

    margin: 1vw;
    margin-top: 3vw;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    overflow: visible;
}