.post-it{
    color: black;
    font-family: 'Chicola-Smoothy';
    width: 7vw;
    min-width: 75px;
    height: 7vw;
    min-height: 75px;

    font-size: 1em;
    text-align: center;

    margin: 1vw;
    margin-top: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    overflow: visible; 
    white-space: pre-wrap;
}