.base{
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
    background-color: black;
    margin: 0;
    padding: 0.4%;
    width: 15vw;
}

.top{
    border: 1px solid white;
    background-color: black;
    color:white;
    font-family: bebas;
    font-size: larger;
    padding: 3%;
    text-align: center;
}