.title-font{
    width: 75%;
    color: white;

    text-shadow: 1px 1px silver;
    
    font-size: 4em;
    text-align: center;

    margin-left: 10%;
    padding-left: 5%;

    margin-right: 10%;
    padding-right: 5%;

    margin-bottom: 2%;
    padding-bottom: 5%;

    padding-top: 5%;
    
    background-image: linear-gradient(rgb(0, 0, 0), rgb(15, 15, 15));
    border-top: 2px inset rgb(151, 151, 151);
    border-right: 2px outset rgb(110, 110, 110);
    border-left: 2px inset rgb(110, 110, 110);
    border-bottom: 2px inset rgb(0, 0, 0);
}