.title-font{
    width: 75%;
    color: white;
    font-family: "elegant-typewriter";

    text-shadow: 1px 1px silver;
    
    font-size: 5vw;
    text-align: center;

    margin-left: 2.5%;
    padding-left: 1%;

    margin-right: 2.5%;
    padding-right: 1%;

    margin-bottom: 2%;
    padding-bottom: 2.5%;

    margin-top: 5%;
    padding-top: 2.5%;
    
    background-image: linear-gradient(rgb(0, 0, 0), rgb(15, 15, 15));
    border-top: 2px inset rgb(151, 151, 151);
    border-right: 2px outset rgb(110, 110, 110);
    border-left: 2px inset rgb(110, 110, 110);
    border-bottom: 2px inset rgb(0, 0, 0);
}