* {
  box-sizing: inherit;
}

html{
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 100vw;
  min-width: 100vw;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/Tabletop.jpg);
  background-size: contain;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

footer{
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-image: url(./images/Dark-Wood.jpg);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2%;

  left:0;
  bottom: 0;

  margin-top: auto;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 600px){
  footer{
    font-size: x-small;
  }
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.format-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  left: 1vw;
  top: 25%;
  z-index: 2;
  width: 3vw;
}

.format-button {
  z-index: 2;
  font-size: 2vw;
  margin: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  width: fit-content;
}

.align-animation-class{
  animation-name: align-animation;
  animation-duration: 0.5s;
}

@keyframes align-animation{
  50%{transform: scale(1.2, 1.2); box-shadow: 0px -10px 30px 10px black;}
  75%{rotate: 0deg;}
  100%{transform: scale(1,1);box-shadow: 0px -5px 25px 5px black;}
}
