html{
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 100vw;
  overflow-x: hidden;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/Tabletop.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  color:white;
  background-image: url(./images/Dark-Wood.jpg);

  padding: 2%;

  left:0;
  bottom: 0;

  margin-top: auto;
  width: 100%;
  z-index: 2;
}

.format-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  left: 0;
  top: 25%;
  z-index: 2;
  width: fit-content;
}

.format-button {
  z-index: 2;
  font-size: 2vw;
  margin: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.align-animation-class{
  animation-name: align-animation;
  animation-duration: 0.5s;
}

.combine-animation-class{
  animation-name: combine-animation;
  animation-duration: 1s;
}

@keyframes align-animation{
  50%{transform: scale(1.2, 1.2); box-shadow: 0px -10px 30px 10px black;}
  75%{rotate: 0deg;}
  100%{transform: scale(1,1);box-shadow: 0px -5px 25px 5px black;}
}

@keyframes combine-animation {
  0%{margin: 1.5%;}
  25%{margin: 1%;}
  50%{margin: 0%; transform: scale(1.025, 0.9425);}
  75%{margin: -1%; transform: scale(1.1, 0.95);}
  100%{margin: 0%; transform: scale(1, 1);}
}
