body{
  background-image: url(../images/Tabletop.jpg);
  background-size: cover;
}
main {
  margin: 2%;
  margin-bottom: 7%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  height: 7%;
  position: sticky;
  background-color: black;
}

.two-postcards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}